<!--@author Alfieri Davide-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>GreenBridge</title>
</head>
<body>
  <section layout:fragment="content">
    <a href="newnote">Aggiungi nota!</a>
    <h1>Ecco le note!</h1>
    <div id = "note">
        <div th:each="notina : ${note}">
            <p th:text="'titolo: ' + ${notina.getTitolo()}"></p>
            <p th:text="'contenuto: ' + ${notina.getContenuto()}"></p>
        </div>
    </div>
    <form>
        <label for="titolo">titolo</label>
        <input type="text" id="titolo">
        <label for="contenuto">contenuto</label>
        <input type="text" id="contenuto">
        <button type="button" onclick="submitForm()">submit note!</button>
    </form>
    
    <script th:inline="javascript">
        function submitForm() {
            var noteData = [
                document.getElementById('titolo').value,
                document.getElementById('contenuto').value
            ];
            $(document).trigger("publish", noteData)
        }

        $(document).on("publish", function (event, titolo, contenuto) {
            $("#note").prepend(`<div><p>titolo: ${titolo}</p><p>contenuto: ${contenuto}</p></div>`)
        })

        $(document).on("publish", function (event, titolo, contenuto) {
            console.log("entro 2")
            var noteData = {titolo: titolo, contenuto: contenuto}
            $.ajax({
                type: 'POST',
                url: '/api/create-note', // Update the URL to match your REST endpoint
                contentType: 'application/json',
                data: JSON.stringify(noteData),
                success: function (response) {
                    // Handle success response
                    console.log(response);
                },
                error: function (error) {
                    // Handle error response
                    console.error(error);
                }
            });
        })
    </script>
  </section>
</body>
</html>